*{
    font-family: 'Gill Sans', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
body{
    background: #333;
}

ul{
    margin-bottom: 30px;
}

h1{
    text-align: center;
};


ul li h3{
    margin-left: 20px;
}

.main{
    width: 650px;
    margin: auto;
    color: #f1f1f1;
    background-color: #444555;
    padding: 30px;
}
ul li{
    margin-bottom: 10px;
}

.dragging {
    opacity: 0;
}

.bar{
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 390px;
    background-color: #353b48;
    height: 30px;
    overflow: hidden;
    cursor: grab;
}

.time-remaining{
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 24px; 
}

.harvest-timer .bar{
    background-color: #c3dfcd;
}

.operations-timer .bar{
    background-color: #e8baba;
}

.dispatch-timer .bar{
    background-color: #bad2e8;
}

.harvest-timer .bar span{
    background-color: #7fd49f;
}

.harvest-timer.ending .bar{
    animation: harvest-flash 1s infinite;
}

.harvest-timer.ending .bar span{
    animation: harvest-flash-remaining 1s infinite;
}

.operations-timer .bar span{
    background-color: #ee6666;
}

.operations-timer.ending .bar span{
    animation: operations-flash-remaining 1s infinite;
}

.operations-timer.ending .bar{
    animation: operations-flash 1s infinite;
}

.dispatch-timer .bar span{
    background-color: #66adee;
}

.dispatch-timer.ending .bar span{
    animation: dispatch-flash-remaining 1s infinite;
}

.dispatch-timer.ending .bar{
    animation: dispatch-flash 1s infinite;
}



.button{
    display: inline-block;
    height: 30px;
    background-color:#292933;
    width: 30px;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    cursor:pointer;
}

.timer .button{
    font-size: 24px;
    color: #f1f1f1;
}

.timer .timer-group{
    margin-left: 10px;
}

.delete{
    color: #000;
    margin-left: 40px
}

.bar span{
    height: 30px;
    float: left;
    /*background: linear-gradient(135deg, #1E9AFE, #60DFCD);*/
    background-color: #d9d9d9;
}

.control-panel-section{
    overflow: hidden;
}

.control-panel{
    font-size: 12px;
    color: #f1f1f1;
    display: inline-block;
    height: 110px;
    background-color: #292933;
    padding: 4px;
    overflow: hidden;
}

.control-panel-enveloper{
    padding: 16px;
}

.green{
    border-top: 2px solid #7FD49F;
    position: relative;
}

.watering{
    position: absolute;
    right: 14px;
    bottom: 6px;
    cursor:pointer;
}

.watering:hover path{
    stroke: #d9d9d9;
    transition: stroke 0.3s ease;
}

.watering-on path{
    stroke: #F1F1F1;
    fill: #66ADEE;
}

.watering-off path{
    stroke: #5B5C71;
    fill: #444555;
}

.red{
    border-top: 2px solid #EE6666;
}

.blue{
    border-top: 2px solid #66ADEE;
}

.violet{
    border-top: 2px solid #9063E3;
}

.control-panel h3{
    text-align: center;
}

.buttons{
    margin-bottom: 16px;
}

.buttons .button:not(:first-child){
    margin-left: 6px;
}

.control-panel .button{
background-color: transparent;
}

.harvest{
    width: 190px;
}

.operations{
    margin: 0 6px;
    width: 150px;
}

.dispatch{
    width: 230px;
}

.dispatch .button{
    font-size: 24px;
    line-height: 24px;
    border: 2px solid #f1f1f1;
}

.dispatch > div > div{
    display: inline-block;
    text-align: center;
}

.dispatch-functions{
    width: 100px;
    overflow: hidden;
}

.dispatch-selector{
    margin-bottom: 7px;
}

.dispatch-selector > div{
    display: inline-block;
}

.dispatch-selector .selector{
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    width: 33px;
    height: 30px;
    overflow: hidden;
}

.dispatch-display{
    width: 100px;
    height: 30px;
    border: 3px solid #999;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    line-height: 25px;
}

.dispatch-btn{
    border: 2px solid #f1f1f1;
    line-height: 65px;
    margin-left: 6px;
    width: 80px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
}

.selector-decrement:hover, .selector-increment:hover, .dispatch-btn:hover{
    color: #292933;
    background-color: #f1f1f1;
    transition: 0.3s ease;
}

.harvest-btn{
    position: relative;
}

.harvest-btn span {
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 0;
}

.harvest-btn:hover .svgHoursSection{
    fill: #c3dfcd;
    transition: fill 0.3s ease;
}

.operations-btn:hover .svgHoursSection{
    fill: #e8baba;
    transition: fill 0.3s ease;
}

.btn-text {
    font-size: 12px;
    font-weight: bold;
    fill: f1f1f1;
}
  
.svgText {
    position: absolute;
    font-weight: bold;
    fill: #f1f1f1;
    stroke: #292933;
    stroke-width: 6px;
    stroke-linejoin: round;
    paint-order: stroke;
}

.groups-panel {
    margin-top: 6px;
    width: 100%;
    height: auto;
    position: relative;
}

.groups-panel-content {
    color: transparent;
    height: 0;
    overflow: hidden;
    transition: height 150ms ease-in-out;
}

.groups-panel-content.show {
    height: 100px;
  }

.groups-panel .control-panel-enveloper {
    padding-top: 3px;
    padding-bottom: 0px;
}

.arrow-button {
    position: relative;
    height: 15px;
}

.arrow {
    position: absolute;
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    left: 50%;
    transition: transform 150ms ease-in-out, margin-top 150ms ease-in-out;
    padding: 2px;
}

.arrow.expanded {
    transform: rotate(-135deg);
    margin-top: 5px;
}

@keyframes harvest-flash {
    0% {
        background: #bad2e8;
    }
    50% {
        background: #EBDFC2; /* Flash to a noticeable background color */
    }
    100% {
        background: #bad2e8;
    }
}

@keyframes harvest-flash-remaining {
    0% {
        background: #7FD49F;
    }
    50% {
        background: #F6CC5D; /* Flash to a noticeable background color */
    }
    100% {
        background: #7FD49F;
    }
}

@keyframes operations-flash {
    0% {
        background: #e8baba;
    }
    50% {
        background: #EBDFC2; /* Flash to a noticeable background color */
    }
    100% {
        background: #e8baba;
    }
}

@keyframes operations-flash-remaining {
    0% {
        background: #ee6666;
    }
    50% {
        background: #F6CC5D;
    }
    100% {
        background: #ee6666;
    }
}

@keyframes dispatch-flash {
    0% {
        background: #bad2e8;
    }
    50% {
        background: #EBDFC2;
    }
    100% {
        background: #bad2e8;
    }
}

@keyframes dispatch-flash-remaining {
    0% {
        background: #66ADEE;
    }
    50% {
        background: #F6CC5D; /* Flash to a noticeable background color */
    }
    100% {
        background: #66ADEE;
    }
}


@media (max-width: 650px) {
    body {
        width: 0;
        height: 0;
    }
    
    .main {
        margin: auto;
    }
  }